.backgroundGradient {
  position: absolute;
	background: linear-gradient(-45deg, #f25f25, #25b8f2);
	background-size: 300% 300%;
	animation: gradientMovement 20s ease infinite;
	min-height: 100%;
  min-width: 100%;
}

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 320px) {
  .backgroundGradient {
    height: 110%;
  }
}
